pkgbase = ttf-iosevka-custom
	pkgdesc = Typeface family designed for coding, terminal use and technical documents.
	pkgver = 5.0.5
	pkgrel = 1
	url = https://github.com/be5invis/Iosevka
	arch = any
	groups = custom
	license = custom
	makedepends = ttfautohint
	makedepends = otfcc
	makedepends = python-pip
	makedepends = npm
	makedepends = git
	source = private-build-plans.toml
	sha256sums = SKIP

pkgname = ttf-iosevka-custom

