pkgbase = ttf-iosevka-custom
	pkgdesc = Typeface family designed for coding, terminal use and technical documents.
	pkgver = 22.1.1
	pkgrel = 1
	url = https://typeof.net/Iosevka/
	arch = any
	groups = custom
	license = OFL
	makedepends = nodejs>=14.0.0
	makedepends = ttfautohint
	makedepends = npm
	makedepends = git
	source = private-build-plans.toml
	sha256sums = SKIP

pkgname = ttf-iosevka-custom
